.container {
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  padding: 1rem;

  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.isTaskDone {
  border=color: var(--gray-500);
  text-decoration-line: line-through;
}

.checkbox {
  position: relative;

  width: 1.25rem;
  height: 1.25rem;
  border: 0;

  background: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.checkbox svg {
  z-index: 2;
}

.checkbox::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;

  width: 15.45px;
  height: 15.45px;

  border-radius: 100%;
  border: 2px solid;
  border-color: var(--blue);
  transition: border-color 0.2s;
}

.checkbox:hover::after {
  border-color: var(--blue-dark);
}

.checkbox.checked::after {
  border-color: var(--purple-dark);
}

.checkbox.checked:hover::after {
  border-color: var(--purple);
}

.checkbox::before {
  content: "";
  display: block;
  position: absolute;

  width: 17.45px;
  height: 17.45px;
  border-radius: 100%;

  background: transparent;
  opacity: 0.2;
  transition: background-color 0.2s;
}

.checkbox:hover::before {
  background: var(--blue-dark);
}

.checkbox.checked::before {
  background: var(--purple-dark);
  opacity: 1;
}

.checkbox.checked:hover::before {
  background: var(--purple);
  opacity: 1;
}

.removeButton {
  margin-left: auto;

  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  border: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-300);
  cursor: pointer;
}

.removeButton:hover {
  color: var(--danger);
  background: var(--gray-400);
}
